body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.sign-up {
  background-image: url(../images/apple.jpg);
  background-size: cover;

}

body.login {
  background-image: url(../images/mt.jpg);
  background-size: cover;
  margin: 0;
}

body.meme {
  background-image: url(../images/pink-dust.png);
}
body.feed {
  background-image: url(../images/pink-dust.png);
}

body.user-profile {
  background-image: url(../images/pink-dust.png);
}

a.icon2 {
  position: relative;
  left: 45px;
  bottom: 35px;
}

canvas {
  background: rgba(255, 255, 255, 0.60);

}

nav {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  background: rgba(255, 255, 255, 0.60);
}

h1.index {
  text-align: center;
}

a {
  color: #00B7FF;
}
button.log{
position: relative;
left: 200px;
}

.img {
  position: relative;
  left: 500px;
    top: 15px;
}

img.iphone {
  width: 130px;
}

img.android {
  width: 130px;
}

.container {
  height: 80px;
  width: 250px;
  border: 1px dashed black;
  position: relative;
  text-align: center;
  left: 505px;
}

.container2 {
  height: 300px;
width: 550px;
border: 1px solid white;
position: relative;
left: 330px;
background: rgba(255,255,255,0.4);
top: 100px;
border-radius: 15px;
padding-top: 10px;
}

.container3 {
  height: 380px;
width: 550px;
left: 380px;
position: relative;
border: 1px solid white;
top: 80px;
background: rgba(255,255,255,0.4);
border-radius: 15px;
padding-top: 10px;

}


.error-message {
  margin: 0 auto;
  width: 380px;
  color: #f02b63;
  border: 1px solid #f02b64;
  padding: 10px;
}

h2 {
  text-align: center;
}

p.signup {
  text-align: center;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}


/*USER PROFILE*/

.left-column {
  position: relative;
  top: 75px;
}

.personal-info {
      bottom: 250px;
      height: 430px;
      width: 500px;
      border: 1px solid white;
      position: relative;
      left: 330px;
      background: rgba(255,255,255,0.4);
      border-radius: 15px;
      padding-top: 10px;
      padding-left: 40px;
}

.col-md-8 {
  padding-bottom: 5px;
  padding-top: 5px;

}

.form-horizontal {
  display: inline-block;
  height: 520px;
  border: 1px solid white;
  position: relative;
  left: 130px;
  background: rgba(255,255,255,0.4);
  width: 260px;
  top: 35px;
  padding-left: 15px;
  border-radius: 15px;

}



/*//=============================================*/

/*Meme Generator*/

.content-container {
  margin-top: 50px;
margin-bottom: 30px;
margin-left: 180px;
}

.wrapper {
  box-shadow: 1px 5px 5px 4.5px #DDDDDD;
background: rgba(255, 255, 255, 0.60);
border-radius: 35px;
padding: 25px;
padding-top: 15px;
width: 800px;

}
/* Content styles*/
#preview {
    border: 2px solid #CCCCCC;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputfile + label {
        vertical-align: middle;
        width: 200px;
        line-height: 18px;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: #222222;
        display: inline-block;
    }

        .inputfile:focus + label,
        .inputfile + label:hover {
            background-color: 333333;
            color: #DDDDDD;
        }

    .inputfile + label {
        cursor: pointer;
    }

#send {
  width: 30px;
  height: 30px;
  border: 0;
}

#chose-file-style {
  background-color: lightsteelblue;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 2px;
    width: 220px;
}

#create-greetings {
  text-align: center;
}

hr {
  border-color: orchid;
width: 550px;
}

#aside {
  text-align: center;
}

/*===================================================*/
/*index page view*/
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
