
<form method="post" action="/edit-user/update" class="form-horizontal" enctype="multipart/form-data">
 <!-- avatar and stuff -->
  <div class="left-column">
  <h1 class="page-header">Edit Profile</h1>

  <div class="row">
    <!-- left column -->
    <div class="left-column">
      <div class="text-center">
        <img src="/images/avatar.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="filestyle" name="Choose File">
      </div>
    </div>
  </div>
</div>



    <!-- edit form column -->

    <div class="personal-info">
      <h3>Personal info</h3>
        <div class="form-group">
          <label class="control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" placeholder="John" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" placeholder="Smith" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" placeholder="example@gmail.com" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Time Zone:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="Hawaii"> (GMT-10:00) Hawaii </option>
                <option value="Alaska">(GMT-09:00) Alaska</option>
                <option value="Pacific Time (US & Canada)">(GMT-08:00) Pacific Time (US & Canada)</option>
                <option value="Arizona">(GMT-07:00) Arizona</option>
                <option value="Mountain Time (US & Canada)">(GMT-07:00) Mountain Time (US & Canada)</option>
                <option value="Central Time (US & Canada)" selected="selected">(GMT-06:00) Central Time (US & Canada)</option>
                <option value="Eastern Time (US & Canada)">(GMT-05:00) Eastern Time (US & Canada)</option>
                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" placeholder="DarkLord" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" placeholder="*****" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" placeholder="*****" type="password">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button> Save Changes </button>
            <span></span>
            <button> Cancel </button>
          </div>
        </form>
        </div>
    </div>
</form>
