

<div class="column-grid-container">
  <div class="ui three column grid">
    <% postsAndStuff.forEach((onePost) => { %>
      <div class="column">
        <div class="ui fluid card">

          <div class="image">
            <img src="<%=onePost.image_path %>">
          </div>

          <div class="content">
            <a class="header"><%= onePost.username%></a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>






<style>
body {
  background:url('/images/black.jpg')!important;
  background-size: cover !important;
  font-family: 'Open Sans', sans-serif;


}
</style>
