<head>
<!-- <link rel="stylesheet" type="text/css" href="Site.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="bootstrap.min.css"> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- <script src="/js/memeScript.js"></script> -->
<title>MemeGenerator 1.0 </title>
</head>

    <div class="content-container">
        <div class="wrapper text-center">
            <div class="row">
                <h1 style="font: 40px Lato; color: floralwhite;" id="create-greetings"><b>Create New Meme</b></h1>
                <canvas width="750" height="500" id="canvas" style="border: 1px solid rebeccapurple;"></canvas><br>
                <div id="chose-file-style" class="row" style="margin-top: 10px;margin-bottom: 10px;margin-left: 250px;text-align: center;">
                    <div class="col-md-offset-4 col-md-2">
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label class="col-md-offset-7" for="file">Choose a file</label>
                        <button type="button" id="myBtn" class="inputfile"></button>
                    </div>
                </div>
                <aside id="aside" hidden>
                    <a class="icon" href="" id="download"><img id="send" src="/images/downloads.png"></a><br />
                <form method="post" id="formid" action="/feed">
                    <input name="imageData" id="imageInput" type="hidden">
                    <button type="submit" class="icon2" id="postMeme"><img id="send" src="/images/send.png"></button><br />
                </form>
                    <div class="form-inline">
                        <div class="col-md-offset-2 col-md-8 form-group">
                            <input class="form-control tb" id="text-box1" type="text" placeholder="Top Text"><input class="form-control tb" id="size-font1" type="number" value="60" min="40" max="80" style="width: 60px; margin-left: 0;"><br>
                        </div>
                        <div class="col-md-offset-2 col-md-8 form-group">
                            <input class="form-control tb" id="text-box2" type="text" placeholder="Bottom Text"><input class="form-control tb" id="size-font2" type="number" value="60" min="40" max="80" style="width: 60px; margin-left: 0;"><br>
                        </div>
                    </div>
                </aside>
                </div>
            </div>
        </div>
<script src="/js/memeScript.js"></script>
<style>
body {
  background:url('/images/cow.png')!important;
  background-size: cover !important;
  font-family: 'Open Sans', sans-serif;

}
</style>
