<!-- <h1 class="index">FollowMe.Me</h1>

<div class="container">

<% if(typeof currentUser === 'object') { %>
  <p> Hello, <%= currentUser.username%>! <br>
  <br>Welcome back, <%=currentUser.username%>. </p>
<% } else { %>
    <h3> Please login to continue</h3>
    <a href="/login"> <b>Log In </a></br>
<% } %>
</div> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


		<section class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="index-container">
				<div class="row">
					<div class="col-md-12">
						<div class="st-home-unit">
							<div class="hero-txt">
								<h2 class="hero-title">Follow Me.Me</h2>
								<a href="/signup" class="btn btn-main btn-lg">Sign up Now!</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="mouse-icon"><div class="wheel"></div></div>
		</section>

		<section class="about">
			<div class="index-container">
				<div class="row2">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3> About Follow Me.Me </h3>
							<p>Create your favorite MeMe's and Share them World Wide!</p>
						</div>
						<div class="about-container">
							</ul>
							<li>
								Registration takes seconds.
							</li>
							<br>
							<li>
								Log in with out having to verify your account!
							</li>
							<br>
							<li>
								Generate your favorite MeMe's.
							</li>
							<br>
							<li>
								Post your creations to our public feed and/or save it directly to your Compooper!
							</li>
						</ul>
					</div>
				</div>
								<img class="register-now" src="images/register-now.png" alt="" >
					</section>
