<!-- <h1 class="index">FollowMe.Me</h1>

<div class="container">

<% if(typeof currentUser === 'object') { %>
  <p> Hello, <%= currentUser.username%>! <br>
  <br>Welcome back, <%=currentUser.username%>. </p>
<% } else { %>
    <h3> Please login to continue</h3>
    <a href="/login"> <b>Log In </a></br>
<% } %>
</div> -->

		<section class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="index-container">
				<div class="row">
					<div class="col-md-12">
						<div class="st-home-unit">
							<div class="hero-txt">
								<h2 class="hero-title">Follow Me.Me</h2>
								<a href="/signup" class="btn btn-main btn-lg">Sign up Now!</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="mouse-icon"><div class="wheel"></div></div>
		</section>

		<!-- <section class="about" id="about">
			<div class="index-container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>WelCome to Sept</h3>
							<p>We are a creative Designer</p>
						</div>
						<div class="row mb90">
							<div class="col-md-6">
								<p>Texit l, habere se indocti magnosque culpa gravioribus discedere eas indignae diogenem, praetermissum effugiendorum vult dicent, periculum dolere putat. Iucunditatem quid turbulenta patre eae depravatum talem elaborare plerisque repellere, o potiendi tuo aliter, militaris sint tranquillat liberalitati. Locus delicata divelli intemperantes audeam maximisque sitne pulcherrimum aegritudines studium. Habent inveniri fidelissimae aequi andriam laudabilis. Libido censet assiduitas quae probantur tantalo exquisitaque erunt laudatur optari. Late suapte veterum enim qui magna securi eaque proficiscuntur.</p>
							</div>
							<div class="col-md-6">
								<img src="photos/about.jpg" alt="" class="img-responsive">
							</div>
						</div>
					</section> -->
