<h1 class="index">FollowMe.Me</h1>

<div class="container">

<% if(typeof currentUser === 'object') { %>
            <!-- If we got the logged in user variable  -->
  <p> Hello, <%= currentUser.username%>! </p>
<% } else { %>
        <!-- If we DIDNT GET the logged in user variable -->
    <h3> Please login to continue</h3>
    <a href="/login"> <b>Log In </a></br>
<% } %>

</div>

<div class="img">
  <a href="https://itunes.apple.com/us/genre/ios/id36?mt=8">
    <img class= "iphone" src=./images/iphone.png>
  </a>

  <a href="https://play.google.com/store/apps?hl=en">
    <img class="android" src=./images/android.png>
  </a>
</div>
