<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
        <a href="/"> Home </a>
        <br>
    <% if (typeof currentUser === 'object') { %>
        <a href="/logout"> Log Out </a>
        <br>
        <a href="/special"> Members </a>
    <%  } else { %>
        <a href="/signup"> Sign up </a>
        <br>
        <a href="/login"> Log In </a>
        <br>
    <%  } %>
        <br>
      </nav>
    </header>


<%- body %>


  </body>
</html>
