<body class="login">


<div class="container2">

<h2> Log In </h2>

  <form id="form" method="post" action="/login">
  <label for="username-input"> Username </label>
  <input id="username-input" type="text" name="loginUsername">
  <br>

  <label for="password-input"> Password </label>
  <input id="password-input" type="password" name="loginPassword">
  <br>


    <button> Log In </button>
  </form>
</div>





</body>
<!--
<div class="ui one column center aligned grid">
 <div class="column six wide form-holder">
   <h2 class="center aligned header form-head">Sign in</h2>
   <div class="ui form">
     <div class="field">
       <input type="text" placeholder="username">
     </div>
     <div class="field">
       <input type="password" placeholder="password">
     </div>
     <div class="field">
       <input type="submit" value="sign in" class="ui button large fluid green">
     </div>
     <div class="inline field">
       <div class="ui checkbox">
         <input type="checkbox">
         <label>Remember me</label>
       </div>
     </div>
   </div>
 </div>
</div> -->
