<body class="sign-up">

<div class="container3">

<h2> Sign Up </h2>

<p class="signup"> Sign up to <b>FollowMeme</b> </p>

<% if (typeof messageForDumbUsers === 'string') { %>
  <p class="error-message"><%= messageForDumbUsers %></p>
<% } %>

<form id="form" method="post" action= /signup>
  <label for="full-name-input"> Your Name </label>
  <input id="full-name-input" type="text" name="signupFullName"
  placeholder="Tom Ford">
<br>

<label for="username-input"> Username </label>
  <input  id="username-input" type="text" name="signupUserName"
      placeholder="4Lulz">
  <br>

  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" name="signupPassword"
      placeholder="**********">
  <br>

  <button> Sign Up </button>
</form>
</div>
</body>
